@use './variables' as *;

.faMultilineTooltipBody__bullet {
  display: block;
}

.faMultilineTooltipBody__intro + .faMultilineTooltipBody__bullet {
  margin-top: $faMultilineTooltipBody-bullet-marginTop;
}

.faMultilineTooltipBody__bullet + .faMultilineTooltipBody__bullet {
  margin-top: $faMultilineTooltipBody-bullet-marginTop;
}
