/* COMPONENT - PROJECT OVERVIEW */
$projectOverview-hint-marginBottom: 30px;
$projectOverview-hint-mascot-height: 135px;
$projectOverview-hint-mascot-marginRight: 30px;
$projectOverview-hint-mascot-width: 135px;
$projectOverview-maxWidth: 1450px;
$projectOverview-subtitle-marginTop: 40px;
$projectOverview-subtitle-opacity: 0.8;
$projectOverview-title-fontWeight: 500;
$projectOverview-title-marginBottom: 30px;
$projectOverview-title-marginTop: 10px;
