/* COMPONENT - DIALOG MARKDOWN DOCUMENT */
$dialogMarkdownDocument-card-maxWidthViewportSubtract: 100px;
$dialogMarkdownDocument-changeLog-card-width: 1100px;
$dialogMarkdownDocument-content-maxHeightSubtract: 273px;
$dialogMarkdownDocument-content-minHeight: 650px;
$dialogMarkdownDocument-content-paddingRight: 40px;
$dialogMarkdownDocument-license-card-width: 680px;
