/* COMPONENT - DIALOG DISCARD OPENED DOCUMENT TAB */
$dialogDiscardOpenedDocumentTab-maxWidth: 600px;
$dialogDiscardOpenedDocumentTab-minWidth: 320px;
$dialogDiscardOpenedDocumentTab-viewportInlineSubtractPx: 48px;
