@use '../../../../css/app.palette.scss' as *;
@use '../../../../layouts/MainLayout/styles/variables' as mainLayout;

/* COMPONENT - PROJECT DOCUMENT CONTROL BAR */
$projectDocumentControlBar-backgroundColor: fa-v('dark', $dark);
$projectDocumentControlBar-blockerHeightPx: 7.5px;
$projectDocumentControlBar-bottomRuleColor: rgba($accent, 0.2);
$projectDocumentControlBar-buttonTooltip-maxWidth: max-content;
$projectDocumentControlBar-minHeightPx: mainLayout.$mainLayout-sidebarSearchRowHeightPx;
$projectDocumentControlBar-stripButtonSpacingPx: 10px;
$projectDocumentControlBar-stripPaddingBlockPx: 6px;
$projectDocumentControlBar-stripPaddingInlinePx: 15px;
$projectDocumentControlBar-tabAlertIcon-fontSize: 16px;
$projectDocumentControlBar-tabAlertIcon-positionRight: -10px;
$projectDocumentControlBar-tabAlertIcon-positionTop: 2px;
$projectDocumentControlBar-tabClose-color: fa-v('grey', $grey);
$projectDocumentControlBar-tabContent-color: fa-v('text-workspace-row', $text-workspace-row);
$projectDocumentControlBar-tabContent-widthPx: 170px;
$projectDocumentControlBar-tabFocusTransitionDurationMs: 300ms;
$projectDocumentControlBar-tabFocusTransitionEase: cubic-bezier(0.4, 0, 0.2, 1);
$projectDocumentControlBar-tabIcon-scale: 1.5209;
$projectDocumentControlBar-tabIcon-boxSize-base: 16px;
$projectDocumentControlBar-tabIcon-boxSize: calc(#{$projectDocumentControlBar-tabIcon-boxSize-base} * #{$projectDocumentControlBar-tabIcon-scale});
$projectDocumentControlBar-tabIcon-glyphFontSize-base: 14px;
$projectDocumentControlBar-tabIcon-glyphFontSize: calc(#{$projectDocumentControlBar-tabIcon-glyphFontSize-base} * #{$projectDocumentControlBar-tabIcon-scale});
$projectDocumentControlBar-tabLabel-fontSize: 13px;
$projectDocumentControlBar-tabLabel-fontWeight: 400;
$projectDocumentControlBar-tabLabel-paddingTop: 4px;
$projectDocumentControlBar-tabPadding-inlinePx: 10px;
$projectDocumentControlBar-topOffsetPx: mainLayout.$mainLayout-sidebarSearchRowTopOffsetPx;
$projectDocumentControlBar-unsavedTabIconColor: fa-v('warning', $warning);
$projectDocumentControlBar-widthOffsetPx: mainLayout.$mainLayout-sidebarMinWidthPx;
$projectDocumentControlBar-zIndex: 999;
