/* QUASAR COMPONENT - Q-BTN
 * Quasar default $button-font-weight is 500; Fantasia uses regular weight app-wide.
 */
$qBtn-content-letterSpacing: 0.075em;
$qBtn-fontWeight: 400;
$qBtn-rectangle-borderRadius: 6px;
