/* QUASAR COMPONENT - Q-NOTIFICATION */
$qNotification-avatar-height: 135px;
$qNotification-avatar-marginBottom: 15px;
$qNotification-avatar-marginRight: 30px;
$qNotification-avatar-marginTop: 15px;
$qNotification-avatar-width: 135px;
$qNotification-bgInfo-borderWidth: 2px;
$qNotification-bgInfo-maxWidth: 550px;
$qNotification-message-fontSize: 16px;
$qNotification-message-fontWeight: 500;
