@use '../../app.palette.scss' as *;
@use 'quasar/src/css/variables.sass' as quasarPalette;

/* QUASAR COMPONENT - Q-TOOLTIP (see quasar QTooltip.sass + variables.sass) */
$qTooltip-backgroundColor: fa-v('accent', $accent);
$qTooltip-color: fa-v('dark', $dark);
$qTooltip-fontSize: quasarPalette.$tooltip-fontsize;
$qTooltip-fontWeight: normal;
$qTooltip-maxWidth: quasarPalette.$tooltip-max-width;
$qTooltip-zIndex: quasarPalette.$z-tooltip;
