@use '../../../../css/app.palette.scss' as *;

/* COMPONENT - DIALOG PROGRAM SETTINGS */
$dialogProgramSettings-card-maxHeightSubtract: 48px;
$dialogProgramSettings-card-maxWidthViewportSubtract: 100px;
$dialogProgramSettings-card-width: 1400px;
$dialogProgramSettings-category-paddingTop: 30px;
$dialogProgramSettings-category-paddingX: 40px;
$dialogProgramSettings-categoryTitle-left: 40px;
$dialogProgramSettings-categoryTitle-paddingBottom: 8px;
$dialogProgramSettings-categoryTitle-paddingTop: 8px;
$dialogProgramSettings-categoryTitle-right: 40px;
$dialogProgramSettings-categoryTitle-zIndex: 5;
$dialogProgramSettings-gradientBar-height: 10px;
$dialogProgramSettings-gradientBottom: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 0.3) 100%);
$dialogProgramSettings-gradientTop: linear-gradient(360deg, rgba($black, 0) 0%, rgba($black, 0.3) 100%);
$dialogProgramSettings-scrimDark: rgba($black, 0.3);
$dialogProgramSettings-searchEmpty-padding: 32px 40px;
$dialogProgramSettings-searchPanel-categoryTitle-marginBottom: -11px;
$dialogProgramSettings-searchPanel-categoryTitle-marginTop: -37px;
$dialogProgramSettings-searchPanel-zIndex: 10;
$dialogProgramSettings-settingsSearchWrapper-after-height: 10px;
$dialogProgramSettings-settingsSearchWrapper-after-left: -10px;
$dialogProgramSettings-settingsSearchWrapper-after-right: -35px;
$dialogProgramSettings-settingsSearchWrapper-after-top: -4px;
$dialogProgramSettings-settingsSearchWrapper-before-borderBottomLeftRadius: 5px;
$dialogProgramSettings-settingsSearchWrapper-before-boxShadow: -5px 5px 7px rgba($black, 0.1);
$dialogProgramSettings-settingsSearchWrapper-before-inset: -5px -35px -5px -10px;
$dialogProgramSettings-settingsSearchWrapper-right: 45px;
$dialogProgramSettings-settingsSearchWrapper-top: 4px;
$dialogProgramSettings-settingsSearchWrapper-transition: opacity 0.1s ease;
$dialogProgramSettings-settingsSearchWrapper-widthMax: 220px;
$dialogProgramSettings-settingsSearchWrapper-widthViewportSubtract: 120px;
$dialogProgramSettings-settingsSearchWrapper-zIndex: 11;
$dialogProgramSettings-settingHelpIcon-marginTop: 3px;
$dialogProgramSettings-settingNote-textShadow: 0 0 2px fa-v('black', $black);
$dialogProgramSettings-settingTitle-marginBottom: 8px;
$dialogProgramSettings-settingTitle-marginLeft: 10px;
$dialogProgramSettings-settingTitle-marginTop: 16px;
$dialogProgramSettings-settingTitle-widthSubtract: 45px;
$dialogProgramSettings-surface-backgroundColor: fa-v('dark', $dark);
$dialogProgramSettings-tabsSearchOverlay-zIndex: 10;
$dialogProgramSettings-title-zIndex: 11;
$dialogProgramSettings-verticalTab-paddingX: 16px;
