/* COMPONENT - IMPORT EXPORT PROGRAM CONFIG DIALOG */
$dialogImportExportProgramConfig-rootActionBtn-fontWeight: 700;
$dialogImportExportProgramConfig-rootActionBtn-letterSpacing: 0.06em;
$dialogImportExportProgramConfig-rootActionBtn-minHeight: 70px;
$dialogImportExportProgramConfig-rootActionCol-marginX: 24px;
$dialogImportExportProgramConfig-rootActionRow-height: 100px;
$dialogImportExportProgramConfig-wrapper-maxWidth: 90vw;
$dialogImportExportProgramConfig-wrapper-width: 800px;
