@use '../../../../css/globals/faQIconDisplay.mixin.scss' as faQIconDisplay;

.faIconPickerInput__field {
  flex: 0 0 auto;
  max-width: $faIconPickerInput-field-width;
  width: $faIconPickerInput-field-width;
}

.faIconPickerInput__trigger.q-btn .q-icon {
  @include faQIconDisplay.fa-q-icon-display-constrain-glyph-in-box;

  --fa-q-icon-display-glyph-font-size: #{$faIconPickerInput-triggerIcon-glyphFontSize};
  --fa-q-icon-display-mdi-font-size: #{$faIconPickerInput-triggerIcon-glyphFontSize};

  flex: 0 0 auto;
  font-size: $faIconPickerInput-triggerIcon-boxSize;
  height: $faIconPickerInput-triggerIcon-boxSize;
  max-height: $faIconPickerInput-triggerIcon-boxSize;
  max-width: $faIconPickerInput-triggerIcon-boxSize;
  width: $faIconPickerInput-triggerIcon-boxSize;
}
