@use '../quasar.variables.scss' as *;
@use '../theme/custom-components/faColorPickerQColor.scss';
@use '../theme/custom-components/faVerticalDraggableTabs.scss';

.floatingWindowComponent {
  background: $floatingWindowComponent-base-background;
  background-color: $floatingWindowComponent-surface-backgroundColor;
  border: $floatingWindowComponent-border;
  border-radius: $floatingWindowComponent-borderRadius;
  box-shadow: $floatingWindowComponent-boxShadow;
  max-width: stretch;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  pointer-events: all;
  position: relative;
  vertical-align: top;
  will-change: scroll-position;
}

.floatingWindowComponent__title--shortFrame {
  margin: $floatingWindowComponent-titleShortFrame-margin;
}
