@use '../quasar.variables.scss' as *;

* {
  letter-spacing: $globals-letterSpacing;

  &::before,
  &::after {
    backface-visibility: hidden !important;
  }
}

html,
body {
  overflow: hidden !important;
}

body {
  &.body--light {

    /* WebKit/Blink Browsers */
    ::selection {
      background: $selectBackgroundColor-lightMode;
      color: $selectTextColor-lightMode;
    }

    /* Gecko Browsers */
    ::-moz-selection {
      background: $selectBackgroundColor-lightMode;
      color: $selectTextColor-lightMode;
    }
  }

  &.body--dark {

    /* WebKit/Blink Browsers */
    ::selection {
      background: $selectBackgroundColor-darkMode;
      color: $selectTextColor-darkMode;
    }

    /* Gecko Browsers */
    ::-moz-selection {
      background: $selectBackgroundColor-darkMode;
      color: $selectTextColor-darkMode;
    }
  }
}

a {
  color: $aLinkColor;
}

p {
  margin: $globals-paragraph-margin;
}
