/* COMPONENT - DIALOG ABOUT FANTASIA ARCHIVE */
$dialogAboutFantasiaArchive-content-maxHeightSubtract: 235px;
$dialogAboutFantasiaArchive-titleSeparator-width: 400px;
$dialogAboutFantasiaArchive-wrapper-maxWidth: 80vw;
$dialogAboutFantasiaArchive-wrapper-width: 900px;
