@use '../../../../css/app.palette.scss' as *;

/* COMPONENT - FA COLOR PICKER INPUT */
$faColorPickerInput-appendButton-size: 32px;
$faColorPickerInput-colorPicker-backgroundColor: fa-v('dark-lighter', $dark-lighter);
$faColorPickerInput-row-gap: 8px;
$faColorPickerInput-colorPickerMenu-zIndex: 7002;
$faColorPickerInput-menuOffsetY: 4px;
$faColorPickerInput-swatch-borderColor: var(--fa-color-black);
$faColorPickerInput-swatch-borderWidth: 1px;
$faColorPickerInput-swatch-size: 20px;
$faColorPickerInput-width: 180px;
