@use '../../../../css/app.palette.scss' as *;

/* COMPONENT - PROJECT HIERARCHY TREE SEARCH */
$projectHierarchyTreeSearch-appendIconScale: 0.85;
$projectHierarchyTreeSearch-backgroundColor: fa-v('dark-middle', $dark-middle);
$projectHierarchyTreeSearch-fixedZIndex: 555;
$projectHierarchyTreeSearch-focusedZIndex: 1000;
$projectHierarchyTreeSearch-rowHeightPx: 50px;
$projectHierarchyTreeSearch-topOffsetPx: 0px;
