@use '../../../../css/app.palette.scss' as *;

/* COMPONENT - DIALOG APP SETTINGS */
$dialogAppSettings-card-maxHeightSubtract: 48px;
$dialogAppSettings-card-maxWidthViewportSubtract: 100px;
$dialogAppSettings-card-width: 1400px;
$dialogAppSettings-category-paddingTop: 30px;
$dialogAppSettings-category-paddingX: 40px;
$dialogAppSettings-categoryTitle-left: 40px;
$dialogAppSettings-categoryTitle-paddingBottom: 8px;
$dialogAppSettings-categoryTitle-paddingTop: 8px;
$dialogAppSettings-categoryTitle-right: 40px;
$dialogAppSettings-categoryTitle-zIndex: 5;
$dialogAppSettings-gradientBar-height: 10px;
$dialogAppSettings-gradientBottom: linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 0.3) 100%);
$dialogAppSettings-gradientTop: linear-gradient(360deg, rgba($black, 0) 0%, rgba($black, 0.3) 100%);
$dialogAppSettings-scrimDark: rgba($black, 0.3);
$dialogAppSettings-searchEmpty-padding: 32px 40px;
$dialogAppSettings-searchPanel-categoryTitle-marginBottom: -11px;
$dialogAppSettings-searchPanel-categoryTitle-marginTop: -37px;
$dialogAppSettings-searchPanel-zIndex: 10;
$dialogAppSettings-settingsSearchWrapper-after-height: 10px;
$dialogAppSettings-settingsSearchWrapper-after-left: -10px;
$dialogAppSettings-settingsSearchWrapper-after-right: -35px;
$dialogAppSettings-settingsSearchWrapper-after-top: -4px;
$dialogAppSettings-settingsSearchWrapper-before-borderBottomLeftRadius: 5px;
$dialogAppSettings-settingsSearchWrapper-before-boxShadow: -5px 5px 7px rgba($black, 0.1);
$dialogAppSettings-settingsSearchWrapper-before-inset: -5px -35px -5px -10px;
$dialogAppSettings-settingsSearchWrapper-right: 45px;
$dialogAppSettings-settingsSearchWrapper-top: 4px;
$dialogAppSettings-settingsSearchWrapper-transition: opacity 0.1s ease;
$dialogAppSettings-settingsSearchWrapper-widthMax: 220px;
$dialogAppSettings-settingsSearchWrapper-widthViewportSubtract: 120px;
$dialogAppSettings-settingsSearchWrapper-zIndex: 11;
$dialogAppSettings-settingHelpIcon-marginTop: 3px;
$dialogAppSettings-settingNote-textShadow: 0 0 2px fa-v('black', $black);
$dialogAppSettings-settingTitle-marginBottom: 8px;
$dialogAppSettings-settingTitle-marginLeft: 10px;
$dialogAppSettings-settingTitle-marginTop: 16px;
$dialogAppSettings-settingTitle-widthSubtract: 45px;
$dialogAppSettings-settingLabel-fontWeight: 500;
$dialogAppSettings-settingLabel-letterSpacing: 0.05em;
$dialogAppSettings-surface-backgroundColor: fa-v('dark', $dark);
$dialogAppSettings-tabsSearchOverlay-zIndex: 10;
$dialogAppSettings-title-zIndex: 11;
$dialogAppSettings-verticalTab-paddingX: 16px;
