/* COMPONENT - IMPORT EXPORT APP CONFIG DIALOG */
$dialogImportExportAppConfig-rootActionBtn-fontWeight: 700;
$dialogImportExportAppConfig-rootActionBtn-letterSpacing: 0.06em;
$dialogImportExportAppConfig-rootActionBtn-minHeight: 70px;
$dialogImportExportAppConfig-checkbox-marginInline: 8px;
$dialogImportExportAppConfig-rootActionCol-marginX: 24px;
$dialogImportExportAppConfig-rootActionRow-height: 100px;
$dialogImportExportAppConfig-stepper-minHeight: 360px;
$dialogImportExportAppConfig-wrapper-maxWidth: 90vw;
$dialogImportExportAppConfig-wrapper-width: 800px;
