@use '../../../../css/app.palette.scss' as *;

/* COMPONENT - SPLASH CONTROLS */
$splashControls-actionBtn-fontSize: 14px;
$splashControls-actionBtn-padding: 14px 80px;
$splashControls-actions-maxWidth: 360px;
$splashControls-header-maxWidth: 100%;
$splashControls-titleRow-maxWidth: 100%;
$splashControls-welcome-opacity: 0.8;
$splashControls-wing-height: 100px;
$splashControls-wing-marginTop: -30px;
$splashControls-wing-width: 90px;
