.dialogProjectSettingsWorldTemplateLayoutTreeNode {
  min-height: $dialogProjectSettings-worldTemplateLayout-treeNode-minHeight;
  padding:
    $dialogProjectSettings-worldTemplateLayout-treeNode-paddingY
    $dialogProjectSettings-worldTemplateLayout-treeNode-paddingX;
  width: 100%;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode > .q-focus-helper {
  border-radius: 0;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode--group {
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__icon,
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__label {
    color: fa-v('primary-bright', $primary-bright);
  }
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode--group,
.dialogProjectSettingsWorldTemplateLayoutTreeNode--template {
  cursor: $faVerticalDraggableTabs-tab-cursor-default;

  &:active {
    cursor: $faVerticalDraggableTabs-tab-cursor-active !important;
  }
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode--error {
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__label {
    color: $dialogProjectSettings-tabError-color;
  }
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode--group,
.dialogProjectSettingsWorldTemplateLayoutTreeNode--template {
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__edit,
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__remove {
    height: $dialogProjectSettings-worldTemplateLayout-treeNode-remove-size !important;
    min-height: $dialogProjectSettings-worldTemplateLayout-treeNode-remove-size;
    min-width: $dialogProjectSettings-worldTemplateLayout-treeNode-remove-size;
    width: $dialogProjectSettings-worldTemplateLayout-treeNode-remove-size !important;
  }

  .dialogProjectSettingsWorldTemplateLayoutTreeNode__edit {
    font-size: $dialogProjectSettings-worldTemplateLayout-treeNode-edit-fontSize !important;
  }

  .dialogProjectSettingsWorldTemplateLayoutTreeNode__remove {
    font-size: $dialogProjectSettings-worldTemplateLayout-treeNode-remove-fontSize !important;
  }
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__actions {
  flex: 0 0 auto;
  gap: $dialogProjectSettings-worldTemplateLayout-treeNode-actions-gap;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__appendix {
  display: block;
  flex: 1 1 auto;
  font-style: italic;
  min-width: 0;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__affixIndent {
  flex: 0 0 auto;
  width: $faQIconDisplay-iconLeadingWidth;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__affixRow {
  min-width: 0;
  width: 100%;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__count {
  flex: 0 0 auto;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__icon,
.dialogProjectSettingsWorldTemplateLayoutTreeNode__label {
  transition:
    color
    $dialogProjectSettings-worldTemplateLayout-treeNode-colorTransition-duration
    $dialogProjectSettings-worldTemplateLayout-treeNode-colorTransition-timing;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__label {
  display: block;
  min-width: 0;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode--template {
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__icon--nickname,
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__label--nickname {
    color: $dialogProjectSettings-worldTemplateLayout-treeNode-nicknameLabel-color;
  }
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__edit,
.dialogProjectSettingsWorldTemplateLayoutTreeNode__remove {
  flex: 0 0 auto;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__titleRow {
  min-width: 0;
  width: 100%;
}
