@use './variables' as *;
@use '../../../../css/globals/faColorGlyph.mixin.scss' as colorGlyph;
@use '../../../../css/globals/faQIconDisplay.mixin.scss' as faQIconDisplay;

.dialogProjectSettingsDocumentTemplatesTabItem__tabIcon,
.dialogProjectSettingsWorldTemplateLayoutTreeNode__icon {
  @include faQIconDisplay.fa-q-icon-display-constrain-glyph-in-box;

  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: $faQIconDisplay-iconFontSize;
  height: $faQIconDisplay-iconFontSize;
  justify-content: center;
  margin-right: $faQIconDisplay-iconMarginRight;
  width: $faQIconDisplay-iconFontSize;
}

.dialogProjectSettingsWorldTemplateLayoutTreeNode__icon {
  --fa-color-glyph-base: #{$dialogProjectSettings-worldTemplateLayout-treeNode-templateIcon-color};

  color: var(--fa-color-glyph-base);
  overflow: visible;
}

body.fa-appTheme--fantasy {
  .dialogProjectSettingsDocumentTemplatesTabItem__tabIcon,
  .dialogProjectSettingsWorldTemplateLayoutTreeNode__icon {
    @include colorGlyph.fa-color-glyph-shading;
  }
}
