.dialogProjectSettingsDocumentTemplatesTabItem__labelRow {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  z-index: $faVerticalDraggableTabs-tab-content-zIndex;
}

.dialogProjectSettingsDocumentTemplatesTabItem__titleRow {
  align-items: center;
  display: flex;
  min-width: 0;
}

.dialogProjectSettingsDocumentTemplatesTabItem__tabIcon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  height: $dialogProjectSettings-documentTemplatesTabIcon-boxSize;
  justify-content: center;
  pointer-events: none;
  width: $dialogProjectSettings-documentTemplatesTabIcon-boxSize;
}

.dialogProjectSettingsDocumentTemplatesTabItem__worldAppendix {
  color: $dialogProjectSettings-documentTemplatesTabWorldAppendix-color;
  display: block;
  font-size: calc(var(--fa-vertical-draggable-tabs-tab-label-font-size, #{$faVerticalDraggableTabs-tab-label-fontSize}) - 2px);
  font-style: italic;
  font-weight: 400;
  line-height: $faVerticalDraggableTabs-tab-label-lineHeight;
  margin-left: $dialogProjectSettings-documentTemplatesTabWorldAppendix-marginLeft;
  text-align: var(--fa-vertical-draggable-tabs-tab-text-align, left);
  transition:
    background-color $faVerticalDraggableTabs-transition-duration $faVerticalDraggableTabs-transition-timing,
    color $faVerticalDraggableTabs-transition-duration $faVerticalDraggableTabs-transition-timing;
  user-select: none;
}
