@use '../../../../css/globals/faQIconDisplay.mixin.scss' as faQIconDisplay;

.dialogProjectSettingsDocumentTemplatesTabItem__tabIcon,
.dialogProjectSettingsWorldAvailableTemplatesList__icon,
.dialogProjectSettingsWorldTemplateLayoutTreeNode__icon {
  @include faQIconDisplay.fa-q-icon-display-constrain-glyph-in-box;

  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: $faQIconDisplay-iconFontSize;
  height: $faQIconDisplay-iconFontSize;
  justify-content: center;
  margin-right: $faQIconDisplay-iconMarginRight;
  width: $faQIconDisplay-iconFontSize;
}
