/* CUSTOM COMPONENT - FA VERTICAL DRAGGABLE TABS */
$faVerticalDraggableTabs-column-default-width: 240px;
$faVerticalDraggableTabs-divider-marginBottom: 25px;
$faVerticalDraggableTabs-divider-marginTop: 15px;
$faVerticalDraggableTabs-divider-widthSubtract: 80px;
$faVerticalDraggableTabs-tab-activeIndicator-width: 2px;
$faVerticalDraggableTabs-tab-activeIndicator-zIndex: 2;
$faVerticalDraggableTabs-tab-content-minWidth: 40px;
$faVerticalDraggableTabs-tab-content-zIndex: 1;
$faVerticalDraggableTabs-tab-cursor-active: grabbing;
$faVerticalDraggableTabs-tab-cursor-default: grab;
$faVerticalDraggableTabs-tab-error-color: var(--fa-color-negative);
$faVerticalDraggableTabs-tab-label-fontSize: 14px;
$faVerticalDraggableTabs-tab-label-fontWeight: 500;
$faVerticalDraggableTabs-tab-label-lineHeight: 1.3;
$faVerticalDraggableTabs-tab-minHeight: 48px;
$faVerticalDraggableTabs-tab-minHeight-dense: 36px;
$faVerticalDraggableTabs-tab-padding-default: 4px 40px 4px 60px;
$faVerticalDraggableTabs-tab-paddingBottom: 4px;
$faVerticalDraggableTabs-tab-paddingLeft: 60px;
$faVerticalDraggableTabs-tab-paddingRight: 40px;
$faVerticalDraggableTabs-tab-paddingTop: 4px;
$faVerticalDraggableTabs-transition-duration: 0.3s;
$faVerticalDraggableTabs-transition-timing: linear;
