@use './variables' as *;
@use '../../../globals/AppControlSingleMenu/styles/variables' as appControlSingleMenu;

.dialogDeleteOpenedDocument {
  min-width: $dialogDeleteOpenedDocument-minWidth;
}

.dialogDeleteOpenedDocument__title {
  word-break: break-word;
}

.dialogDeleteOpenedDocument__body {
  margin: 0 auto;
  max-width: 100%;
}

.dialogDeleteOpenedDocument__warning,
.dialogDeleteOpenedDocument__fallback,
.dialogDeleteOpenedDocument__proceed {
  margin-left: auto;
  margin-right: auto;
}

.dialogDeleteOpenedDocument__warning .text-secondary {
  text-shadow: appControlSingleMenu.$appControlSingleMenu-item-secondary-textShadow;
}
